<h1>Interface Management System</h1>
<%= link_to "IQF", posts_path %>
<p>® ECOVIX - Todos os direitos reservados.<p>
<%# <p>Find me in app/views/home/index.html.erb</p> %>
<%# This is a great comment! %>
